@import "tailwindcss";

@theme inline {
  --color-background: theme("colors.yellow.50");
  --color-foreground: theme("colors.black");
  /* --border-5: 5px; */
  /* --shadow-n */
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-primary);
  overflow-x: hidden;
}
.no-aspect-ratio {
  aspect-ratio: auto !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: fill !important; /* force stretching */
}
