@import "tailwindcss";

@theme inline {
  --color-background: theme("colors.yellow.50");
  --color-foreground: theme("colors.black");
  /* --border-5: 5px; */
  /* --shadow-n */
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-primary);
  overflow-x: hidden;
}

.animate-marquee {
  display: flex;
  animation: marquee 60s linear infinite;
  transform: translateZ(0);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-slow {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-project {
  animation: animate-project 20s linear infinite;
}

@keyframes animate-project {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-200%);
  }
}
